{% extends 'base.html.twig' %}

{% block title %}Acceuil {{ parent() }}{% endblock %}

{% block body %}
    <section id="hero" class="d-flex justify-content-center align-items-center">
        <div id="carouselExampleControls" class="container carousel carousel-fade" data-ride="carousel">
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Bienvenue chez <span>SnowTricks</span></h2>
                    <p class="animate__animated animate__fadeInUp">Le site communautaire qui regroupe tous les tricks du
                        Snowboard et une grande communauté de fan.</p>
                    <a href="{{ path('app_homepage') }}#tricks_anchor"
                       class="btn-get-started">Plus de détails?</a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">SnowTricks c'est quoi?</h2>
                    <p class="animate__animated animate__fadeInUp">C'est un site collaboratif pour faire connaître ce
                        sport auprès du grand public et aider à l'apprentissage des figures (tricks).</p>
                    <a href="{{ path('app_homepage') }}#tricks_anchor"
                       class="btn-get-started">Plus de tricks?</a>
                </div>
            </div>
        </div>
    </section>
    <main id="main">
        <section id="tricks_anchor" class="service-details">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-12">
                        <h3>Les tricks typiques de snowboard à connaître</h3>
                        <h4>Imiter ou élaborer sa propre signature? Telle est la question.</h4>
                    </div>
                </div>
                <br>
                <hr>
                <br>
                <div class="row">
                    {% for trick in tricks %}
                        {% set mainPicture = 'default.jpg' %}
                        {% if (trick.pictures | length) != 0 %}
                            {% for picture in trick.pictures|sort((a, b) => b.id <=> a.id) %}
                                {% if loop.first %}
                                    {% set mainPicture = picture.name %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{% if (trick.pictures | length) != 0 %}
                                                {{ asset('/uploads/'~mainPicture) }}
                                              {% else %}
                                                {{ asset('/images/'~mainPicture) }}
                                              {% endif %}
                                              " alt="{{ trick.name }} image"
                                         style="width : 416px; height: 322px" loading="lazy"
                                         title="{{ trick.name }} image" width="auto" height="auto">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ trick.name }}</h5>
                                    <p class="card-text">{{ trick.description | slice(0,60) }}...</p>
                                    <div class="read-more"><a
                                                href="{{ path('app_tricks_show', {'slug': trick.slug}) }}"><i
                                                    class="fa-sharp fa-solid fa-arrow-right"></i>Détails</a></div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}