<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <!-- Primary Meta Tags -->
        <title>{% block title %}- SnowTricks Site communautaire{% endblock %}</title>
        <meta name="title" content="SnowTricks Site communautaire">
        <meta name="description" content="Site communautaire de partage de figures du snowboard. Le contenu de ce site est fictif, mais entièrement fonctionnel, il a été créé dans un but d'apprentissage.">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://www.snowtricks.bastienmoreau.com/">
        <meta property="og:title" content="SnowTricks Site communautaire">
        <meta property="og:description" content="Site communautaire de partage de figures du snowboard. Le contenu de ce site est fictif, mais entièrement fonctionnel, il a été créé dans un but d'apprentissage.">
        <meta property="og:image" content="http://www.snowtricks.bastienmoreau.com/public/images/thumbnail.png">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="http://www.snowtricks.bastienmoreau.com/">
        <meta property="twitter:title" content="SnowTricks Site communautaire">
        <meta property="twitter:description" content="Site communautaire de partage de figures du snowboard. Le contenu de ce site est fictif, mais entièrement fonctionnel, il a été créé dans un but d'apprentissage.">
        <meta property="twitter:image" content="http://www.snowtricks.bastienmoreau.com/public/images/thumbnail.png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#1e4356">
        <link rel="canonical" href="http://www.snowtricks.bastienmoreau.com/">
        <link rel="icon" href="{{ asset('/images/icon.png') }}" type="image/x-icon">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
                  integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
                  crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
                    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://kit.fontawesome.com/ab77192d3f.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
                    crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('theme') }}
        {% endblock %}
    </head>
    <body>
        {% include 'navbar.html.twig' %}

        {% for status, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ status}}">{{message}}</div>
            {% endfor %}
        {% endfor %}
        {% if app.request.get('_route') == 'app_homepage' %}
            <a href="#main" class="btn btn-outline-primary btn-floating btn-lg" id="to-down">
                <i class="fa-solid fa-arrow-down"></i>
                <span class="sr-only">Tricks</span>
            </a>
        {% elseif app.request.get('_route') == 'app_tricks_show' %}
            <a href="#comments-block" class="btn btn-outline-primary btn-floating btn-lg" id="to-down">
                <i class="fa-solid fa-arrow-down"></i>
                <span class="sr-only">Commentaires</span>
            </a>
        {% endif %}


        {% block body %}{% endblock %}

        {% include 'footer.html.twig' %}
    </body>
</html>
