<header id="header" class="fixed-top d-flex align-items-center nav_screen">
    <div class="container d-flex justify-content-between align-items-center">

        <div class="logo">
            <h1 class="text-light"><a href="{{ path('app_homepage') }}"><span>SnowTricks</span></a></h1>
        </div>

        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a href="{{ path('app_homepage') }}">Acceuil</a>
                <a href="{{ path('app_homepage') }}#tricks_anchor">Tricks</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_logout') }}">Deconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}

                </div>
            </div>

        </nav>

    </div>
</header>
<div>
    <nav class="mobile-nav">
        <a href="{{ path('app_homepage') }}" class="bloc-icon">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="{{ path('app_homepage') }}#tricks_anchor" class="bloc-icon">
            <i class="fa-solid fa-bookmark"></i>
        </a>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_logout') }}" class="bloc-icon" style="color: red">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="bloc-icon">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
        {% endif %}
    </nav>
</div>