{{ form_start(form) }}
    {% set mainPicture = 'default.jpg' %}
    {# Find first picture in the trick #}
    {% if (trick.pictures | length) != 0 %}
        {% for picture in trick.pictures|sort((a, b) => b.id <=> a.id) %}
            {% if loop.first %}
                {% set mainPicture = picture.name %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ form_start(form) }}
<main id="main">
    <div class="container mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-md-offset-1 mt-5 mb-4">
                <h3>{{ titleh1 }}</h3>
                <div class="card mt-5">
                    <img class="card-img-top" style="height:30rem" src="{{ asset('/uploads/'~mainPicture) }}" alt="Stalefish-main">
                    <div class="card-body">
                        <ul class="list-inline trick-data">
                            <h4 class="card-title"><strong>{{ form_row(form.name) }}</strong></h4>
                            <li class="list-inline-item">
                                {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                    Auteur : {{ trick.user.name }}
                                {% else %}
                                    Auteur : {{ app.user.name }}
                                {% endif %}
                            </li>
                            |
                            <li class="list-inline-item">
                                {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                    Ajouté le {{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }} (<small>Mise à
                                    jour le : {{ trick.updatedAt ? trick.updatedAt|date('Y-m-d') : '' }}</small>)
                                {% else %}
                                    Ajouté le {{ "now"|date('Y-m-d') }} (<small>Mise à
                                    jour le : {{ "now"|date('Y-m-d') }}</small>)
                                {% endif %}
                            </li>
                            |
                            <li class="list-inline-item">
                                Catégorie :
                                {{ form_row(form.category) }}
                            </li>
                        </ul>
                        <hr>
                        <div class="row d-none d-lg-flex load-media">
                            <div class="col-lg-6 col-md-12">
                                {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                    <div id="carousel-image" class="carousel slide mt-3 mb-2"
                                         data-bs-ride="carousel">
                                        <div class="carousel-inner text-center">
                                            {% for picture in trick.pictures %}
                                                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                                                    <img src="{{ asset('/uploads/'~picture.name) }}" class="w-100" height="345"
                                                         alt="">
                                                    <a href="{{ path('tricks_delete_picture', {id: picture.id}) }}"
                                                       data-delete
                                                       data-token="{{ csrf_token('delete' ~ picture.id ) }}">Supprimer</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carousel-image" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carousel-image" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                {% endif %}
                                {{ form_row(form.pictures) }}
                            </div>
                            <div class="col-lg-6 col-md-12">
                                {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
                                    <div id="carousel-video" class="carousel slide mt-3 mb-2" data-interval="false"
                                         data-bs-ride="carousel">
                                        <div class="carousel-inner text-center">
                                            {% for video in trick.videos %}
                                                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                                                    <iframe class="w-100" height="345" src="{{ video.url }}">
                                                    </iframe>
                                                    <a href="{{ path('tricks_delete_video', {id: video.id}) }}"
                                                       data-delete
                                                       data-token="{{ csrf_token('delete' ~ video.id ) }}">Supprimer</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carousel-video" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carousel-video" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                {% endif %}
                                {{ form_row(form.url) }}
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="#" id="loadMedia" class="d-md-block d-lg-none">
                                <button class="btn btn-outline-secondary">Afficher les médias</button>
                            </a>
                            <a href="#" id="hideMedia" class="d-none d-md-none d-lg-none">
                                <button class="btn btn-outline-secondary mt-3">Masquer les médias</button>
                            </a>
                        </div>
                        <hr>
                        <h5 class="card-title">Description</h5>
                        <p class="card-text text-justify">
                            {{ form_row(form.description) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="col-12 text-center mb-5 list-inline-item">
    <button type="submit" class="btn btn-outline-success">{{ button_label|default('Valider') }}</button>
    {% if app.request.attributes.get('_route') == 'app_tricks_edit' %}
        {{ include('tricks/_delete_form.html.twig') }}
    {% endif %}
</div>
{{ form_end(form) }}
